

.clients TR.controls{
    background-color: #fff !important;
}
.clients TR.multi-controls{
    background-color: #fff !important;
}
.clients TR.controls TD, .clients TR.multi-controls TD{
    border: 0;
}
.clients TR.editing{
    background-color: #007bff17 !important;
}
.clients TR.error{
    background-color: #ff000017 !important;
}
.clients TR.editing TH:first-child{
    border-left: 0.5rem #00f solid;
    padding-left: 0.6rem; 
}
.clients TR.editing TD{
}
.clients TR.editing TD:first-child{
}
.clients TR.editing TD:last-child{
}
.clients TD.editable INPUT{
    width:100%;
    border:0;
    background-color:transparent;
    color: #00f;
    padding: 0;
    margin: 0;
}
.clients BUTTON{
    width: 80px;
}
.clients BUTTON.add{
    width: 160px;
}
.clients TH:last-child, .clients TH:first-child{
    width: 5%;
}
.clients TH{
    width: 30%;
}